<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Checkbox</title>
</head>
    <body>
        <header>
            <h1>CheckBox</h1>
        </header>
        <!--/* form with th:object Project */-->
        <form th:object="${project}" th:action="@{/add-project}">
             <!--/* select one of the enum roles and set to project */-->
             <select th:field="*{role}">
                 <option th:each="avRole : ${allRoles}"
                        th:value="${avRole}"
                        th:text="${avRole.name}"
                        >
                 </option>
             </select>
            <button type="submit">Save</button>
        </form>
    </body>
</html>
